.container.About {
    padding: 30px;
    max-width: none;
}

div.light .container.About {
    background-color: var(--background-Container-Light);
}

div.dark .container.About {
    background: var(--background-Container-Dark);
}

.container.About h2 {
    scroll-margin-top: 100px;
}

.index-about {
    flex: 0 0 auto;
    width: 30%;
}

.main-about {
    flex: 0 0 auto;
    width: 70%;
}

.container.About .habilidades {
    margin-left: -20px;
    box-sizing: border-box;
}

.container.About .habilidades svg {
    width: 3em;
    height: auto;
}

.container.About .habilidades h3 {
    font-size: var(--SizeText5);
    font-family: var(--textType2);
}

.container.About .habilidades .habilidades-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 4px;
    margin: 4px;
    border: 2px solid currentColor;
    box-sizing: border-box;
}

.container.About .experiencia h3 {
    font-size: 1.var(--SizeText5);
}

.container.About .experiencia h4 {
    font-size: var(--SizeText6);
}

.container.About span {
    font-weight: bold;
}

div.dark .container.About li a {
    color: var(--text-SmallContainer-Dark);
}

div.light .list-group-item {
    background-color: var(--background-SmallContainer-Light);
}

div.dark .list-group-item {
    background-color: var(--background-SmallContainer-Dark);
}

@media (max-width: 350px) {
    .container.About .habilidades {
        flex-flow: row wrap;
    }

}

@media (max-width:540px) {
    .container.About .index-about,.container.About .main-about {
        margin-bottom: 20px;
        width: 100%;
    }
}