.container.asidefirst {
    justify-content: space-between;
    width: 100%;
    margin-top: 7em;
    margin-bottom: 60px;
}

.Resume {
    width: 40%;
}
.Resume>h2 {
    font-size: var(--SizeText1);
    margin-bottom: 30px;
}

.Resume>h4 {
    font-size: var(--SizeText3);
}
.Resume>h2, .Resume>h4{
    font-weight: 100;
}
.Resume>p {
    font-size: var(--textSize2);
}

div.dark .Resume>p {
    color: var(--text-LighterText-Dark);
}

div.light .Resume>p {
    color: var(--text-LighterText-Light);
}

.BlockCode {
    width: 40%;
    height: 500px;
    background-color: #000;
    border-radius: 6px;
    overflow: auto;
    position: relative;

}

.BlockCode pre{
    height: 96%;
}
@media (max-width: 540px) {
    .container.asidefirst {
        flex-flow: column nowrap;
        justify-content: center;
    }
    .Resume.container{
        text-align: center;
        margin-bottom: 15px;
    }
    .Resume {
        width:auto;
    }
    .BlockCode{
        width: 90%;
        border:1px solid #fff;
    }
}