.container-contact {
    margin: 60px 20px;
    width: 90%;
}
.informacion{
    border: var(--border-borderLight) solid 2px;
    border-radius: 10px;
    padding: 20px;
    max-height: 480px;
}
.contact-section {
    width: 90%;
    max-height: 600px;
    max-width: 1400px;
}
.containerForm2 {
    flex: 0 0 auto;
    width: 66.66666667%;
}
div.dark .message-pregunta {
    color: var(--text-LighterText-Dark);
}

div.light .message-pregunta {
    color: var(--text-LighterText-Light);
}

@media (max-width:540px) {
    .container-contact {
        flex-flow: column nowrap;
        justify-content: center;
        width: 90%;
    }
    .contact-section {
       margin-top: 40px;
       width: 100%;
    }
    .contact-section .form-group.button-form {
        text-align: center;
    }
    .containerForm2{
        width: 100%;
    }
}