.all {
    display: flex;
    flex-flow: row nowrap;
    margin: 60px 20px;
    width: 90%;
}
.informacion{
    border: #c4c4c4 solid 2px;
    border-radius: 10px;
    padding: 20px;
    max-height: 480px;
}
.contact-section {
    width: 90%;
    max-height: 600px;
    max-width: 1400px;
}

div.dark .message-pregunta {
    color: #c4c4c4;
}

div.light .message-pregunta {
    color: #8f8f8f;
}

@media screen and (max-width:540px) {
    .all {
        flex-flow: column nowrap;
        justify-content: center;
        width: 90%;
    }
    .contact-section {
       margin-top: 40px;
       width: 100%;
    }
    .contact-section .form-group.button-form {
        text-align: center;
    }
}