div.dark .navbar {
    background-color: var(--background-Navbar-Dark);
}

div.light .navbar {
    background-color: var(--background-Navbar-Light);
}

.navbar.navbar #HomeNav.active,
.navbar.navbar #HomeNav:hover {
    color: var(--color-NavbarLinkActive);
}

#HomeNav {
    position: relative;
    z-index: 1;
    transition: color 0.3s ease;
}

div.dark .navbar #HomeNav {
    color: var(--color-NavbarLinkDesactive-Dark);
}

div.light .navbar #HomeNav {
    color: var(--color-NavbarLinkDesactive-Light);
}

#HomeNav::before {
    content: '';
    position: absolute;
    background: rgba(23, 141, 252, 0.4);
    box-shadow: 17px 20px 21px 15px rgba(0, 132, 255, 0.5);
    opacity: 0;
    transition: opacity 0.4s ease;
}

#HomeNav:hover::before {
    opacity: 1;
}

#HomeNav.active::before {
    all: initial;
}

.nav-link {
    font-family: var(--textType1);
    font-size: var(--SizeText3);
    border: 2px solid transparent;
    transition: border 0.5s ease;
}

.nav-link>p {
    margin-top: 0px;
    margin-bottom: 0px;
}

div.dark .navbar .nav-link:hover {
    color: var(--text-LighterText-Dark);
}

div.light .navbar .nav-link:hover {
    color: var(--text-LighterText-Light);
}

#sun-moon {
    cursor: pointer;
    margin-left: 10px;
    margin-right: 0px;
}

.bi-moon-stars:hover {
    color: #2f62ee;
}

.bi-moon-stars,
.bi-sun-fill {
    transition: color 0.6s ease;
}

div.dark .bi-moon-stars,
.bi-sun-fill,
.navbar-nav .nav-link .bi {
    display: none;
}

div.dark .bi-moon-stars~.bi-sun-fill {
    display: inline-block;
}

div.dark .bi-moon-stars~.bi-sun-fill:hover {
    color: #ffd900;
}

.navbar-nav {
    flex-direction: row;
}

div.dark .navbar .navbar-nav .nav-link.active,
div.light .navbar .navbar-nav .nav-link.active {
    border-bottom: 2px solid var(--color-NavbarLinkActive);
    color: currentColor;
}

@media (max-width: 540px) {

    #HomeNav,
    .nav-link>p {
        display: none;
    }

    #navbarNavAltMarkup {
        width: 100%;
    }

    .navbar-nav {
        width: 100%;
        justify-content: space-between;
    }

    .navbar .navbar-nav .nav-link,
    .navbar .navbar-nav .nav-link.active {
        border-bottom: none !important;
    }

    div.light .navbar .navbar-nav .nav-link {
        color: var(--color-NavbarLinkDesactive-Light);
    }

    .navbar .navbar-nav .nav-link.active {
        color: var(--color-NavbarLinkActive) !important;

    }

    .navbar-nav .nav-link .bi {
        display: block;
        width: 26px;
        height: auto;
    }
}