main {
    justify-content: center;
    align-items: center;
    padding: 30px;
}

div.dark main {
    background-color: var(--background-Container-Dark);
}

div.light main {
    background-color: var(--background-Container-Light);
}

section {
    margin-left: 7em;
    width: 20em;
}

.div-img {
    border: 4px solid currentColor;
    overflow: hidden;
    width: 18em;
    height: 23em;
}

.img-fluid {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: var(--SizeText1);
    font-family: var(--textType2);
}

h2 {
    font-family: var(--textType1);
    font-size: var(--SizeText2);
}

article {
    width: 80%;
}

article p {
    font-size: var(--SizeText6);
}

div.dark main article p {
    color: var(--text-LighterText-Dark);
}

div.light main article p {
    color: var(--text-LighterText-Light);
}

main section .socialNetwork {
    padding: 4px;
    border-bottom: 2px solid;
    margin-right: 3em;
    box-sizing: content-box;
    border-image-slice: 1 !important;
}

div.light main section .socialNetwork {
    border-image: var(--color-BorderImage-Light);
}

div.dark main section .socialNetwork {
    border-image: var(--color-BorderImage-Dark);
}

section .socialNetwork #Contacto {
    margin-left: 50px;
}

.item {
    margin: 2px;
}

a.item svg.bi:hover {
    transform: scale(1.2);
}

.main-button {
    justify-content: start;
}

.ButtonLink {
    margin: 4px;
    padding: 6px;
    border-radius: 10px;
    text-decoration: none;
    font-size: var(--SizeText6);
    font-weight: 100;
    box-sizing: border-box;
    position: relative;
}

.ButtonLink .bi {
    margin: 0px 4px;
}

div.dark main #Project {
    background-color: var(--button-Project-Dark);
}

div.dark main #About {
    background-color: var(--button-About-Dark);
}

div.dark main #CV {
    background-color: var(--button-CV-Dark);
}

div.dark main #Project:hover,
div.dark main #About:hover,
div.dark main #CV:hover,
.container-curriculum a:hover {
    filter: brightness(150%);
}

div.light main #CV {
    background-color: var(--button-CV-Light);
}

div.light main #Project,
div.light main #About,
div.light main #CV {
    border: solid var(--border-borderLight) 1px;
}

div.light main #Project:hover,
div.light main #About:hover,
div.light main #CV:hover {
    border: solid #000000 1px;
}

#CV {
    cursor: pointer;
    border-radius: 10px 10px 10px 3px;
}
.container-curriculum{
    display: none;
}
#CV:hover .container-curriculum{
    display: flex;
    flex-direction:column;
    position: absolute;
    right:11%;
    top:90%;
    width:90% ;
    margin-top: 2px;
    border:1px solid #000;
    border-top: 0px;
}
.container-curriculum a{
    text-decoration: none;
}
div.light .container-curriculum a{
    background-color:var(--button-CV-Light);
}
div.dark .container-curriculum a{
    background-color:var(--button-CV-Dark);
}

@media (max-width: 540px) {
    .div-img {
        display: none;
    }

    section {
        margin-left: 0px;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        text-align: center;
    }

    main section .socialNetwork,
    div.light main section .socialNetwork,
    div.dark main section .socialNetwork {
        margin-right: 0px;
        margin-bottom: 10px;
        padding-bottom: 8px;
        border-image: none;
        border-image-slice: none;
    }

    section .socialNetwork #Contacto {
        margin-left: 2px;
    }

    .main-button {
        display: grid;
        grid-template-columns: auto, auto, auto;
    }

    .main-button #CV {
        margin: 0px auto;
        width: 90px;
        grid-row: 2 / 2;
        grid-column: 1 / 3;
    }
    
}