.container.main-project,
.container.aside-project {
    box-sizing: border-box;
    max-width: none;
}

.carousel-item.active .d-block.w-100 {
    opacity: 40%;
}

.carousel-caption.d-none.d-md-block {
    font-family: var(--textType1);
}

.carousel {
    display: flex;
    align-items: center;
    width: 70vw;
    height: 70vh;
    max-width: 716px;
    max-height: 450px;
    border-radius: 15px;
    background: var(--background-Container-Dark);
}
/* effect in loading carrousel */
div.light .carousel a{
    color:#fff;
}
.container.aside-project {
    padding-bottom: 30px;
}

div.dark .container.aside-project {
    background: var(--background-Container-Dark);
}

div.light .container.aside-project {
    background: var(--background-Container-Light);
}

.projects-categorise div h5 {
    font-family: var(--textType1);
    font-weight: 100;
}

.projects-miniature {
    display: flex;
    flex-wrap:wrap;
    gap:35px;
}

.projects-miniature .miniature {
    display: grid;
    grid-template-columns: auto, auto, auto;
    gap: 10px;
}

.skills-miniature {
    display: flex;
    justify-content: center;
    width: 85%;
    grid-row: 2 / 2;
    grid-column: 1 / 3;
}

.redes-miniature {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.skills-miniature .bi {
    width: 30px;
    height: auto;
} 

.image-miniature {
    position: relative;
    font-family: var(--textType1);
    font-weight: bold;
    width: 14em;
    height: 9em;
    border: var(--border-borderLight) solid 2px;
    border-radius: 8px;
    overflow: hidden;
}
.image-miniature h4{
    font-size: var(--SizeText3);
    font-weight: bold ;
}
.overlay {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: -14%;
    opacity: 0;
    
    transition: opacity 0.3s ease-in-out, background 0.6s ease, bottom 0.3s ease-in-out;
}
div.light #WAPL .image-miniature{
    border: #25ac78 solid 2px;
}
div.dark #WAPL .image-miniature{
    border: #ffc400 solid 2px;
}
div.dark #WAPL .image-miniature > img{
    filter: invert(100%);
}
div.dark .overlay {
    background: rgba(0, 0, 0, 0.61);
}

div.light .overlay {
    background: rgba(207, 199, 126, 0.849);
}

.image-miniature:hover .overlay {
    opacity: 1;
    bottom: 0%;
}

div.dark .overlay:hover {
    background: rgba(49, 67, 231, 0.603);
}

div.light .overlay:hover {
    background: rgb(207, 199, 126);
}


@media (max-width:540px) {
    .image-miniature .overlay {
        opacity: 1;
        bottom: 0%;
    }
}
@media (max-width:596px){
    .projects-miniature .miniature {
        transform: scale(1.2);
        margin:50px auto auto auto;
        gap:20px;
    }
}
@media (max-width:895px){
    .projects-miniature {
        justify-content: center;
    }
}