.principal.vision{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
}
div.dark .principal.vision{
    background: var(--background-ContainerVision-Dark);
}
div.light .principal.vision{
    background: var(--background-ContainerVision-Light);
}
.principal.vision h2{
    font-family: var(--textType1);
    font-size: var(--SizeText1);
    margin-bottom:50px ;

}
.visionFirst{
    justify-content: space-around;
    border-bottom: solid  3px;
    margin:30px 15px;
    border-image-slice:1 !important;
}
div.dark .visionFirst{
    border-image: var(--color-BoderImageRadial-Dark); 
}
div.light .visionFirst{
    border-image: var(--color-BorderImageRadial-Light); 
}
.visionFirst > p {
    width: 35%;
    font-size: var(--SizeText4);
    font-weight: 100;
    text-align:justify;
}
.vision.main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.vision.main > h3 {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
}

.vision.item {
    width: auto;
    font-size: var(--SizeText4);
    font-family: var(--textType1);
}
.vision.item .bi {
    width: 75px;
    height: auto;
}
.vision.item > .bi-pc-display{
    color: #004aad;
}

.vision.aside > p {
    font-size: var(--SizeText4);
    width: 70%;
}
.vision.item.aside-items{
    width: initial;
}
.vision.item.aside-items .bi{
    margin: 10px 20px;
}
@media (max-width:540px) {
    .visionFirst{
        flex-flow: column nowrap ;
    }
    .visionFirst > p{
        text-align: center;
        width: auto;
        margin-bottom: 20px;
    }
    .vision.aside > p{
        text-align: justify;
        width: 90%;
    }
}